
body{
    background-color: lightgray;
    size:100%
}

h2{
    font-size: 400%;
}
.navbar {
    position:sticky;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width:100%;
    border-radius: 30px;
    top:0px;
    background-color: lightgray;
    max-height: 10%;
}
.img_bg{
    background-image: url("images/googleSbar.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 0%;
    min-width:58%;
    height: 20%;
    margin-top: -5px;
}
.Search{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 20px;
}

button{
    background-color: light_gray ;
    width: fit-content; 
    height: 50px; 
    font-size: large;
    margin-right: 2px;
}
@media screen and (max-width:800px){
    .Search{
        font-size: 20px;
        margin-left: 44px;
        margin-top: 14px;
    }

    button{
        background-color: light_gray ;
        width: fit-content; 
        height: 25px; 
        font-size: medium;
    }
}

.GH{
    margin-left: -7%;
}
.Caract{
    font-size: 300%;
}
.GH_Presentation{
    display: flex;
    background-image: url("images/LivingRoom.jpg");
    background-size:100%;
    background-position: 10%;
}

#GH_Caract{
    font-size: 50px;
}

.text1{
    font-size: 50%;
}

@media screen and (max-width:800px){
    #GH_Caract{
        font-size: 25px;
    }
}

.GH_fixed{
    position:fixed;
    width: 600px;
    margin-left: -100px;
    margin-top: -40px;
}

@media screen and (max-width:800px){
    .GH_fixed{
        opacity: 0;
    }
}
.ConvCuisine{
    background-image: url(images/cuisine.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    margin-left: 0px;
}

.Conv_TV{
    background-image: url(images/Fond_TV.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    margin-left: 0px;
}
.Conv_Rire{
    background-image: url(images/FondFun.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    margin-left: 0px; 
}

.ConvGH{
    margin-left: 360px;
}

.ConvGH_txt{
    margin-left: 500px;
    font-size: 70px;
}

@media screen and (max-width:800px){
    .ConvGH{
        margin-left:-100px;
        max-height:700px
    }
    .ConvGH_txt{
        margin-left: 0px;
        font-size: 50px;
    }
}

.VariantsGH{
    display:flex;
    justify-content: center;
    align-items: center;
}

.ProduitsGH{
    margin:4px;
    margin-left: 45px;
    border-radius: 100px;
    border-color: black;
}


td{
    border: 3px solid lightblue;
    font-size: 40px;
    background-color: aquamarine;
    text-align: center;
}

th{
    border: 3px solid lightblue;
    font-size: 40px; 
    background-color: aqua;
    width:1000px;
}

.empty{
    background-color: transparent;
    border: none;
    width: 100px;
}

.tabletitle{
    border: 3px solid lightblue;
    font-size: 40px; 
    background-color: aqua;
}

.AutreApp{
    display:flex;
}